<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>id: {{hero.id}}</div>
  <div>name: {{hero.name}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
  </div>
</div>